<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de e-mail clientes</title>
</head>
<body>

    <h1>Lista e-mais enviados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>e-mails enviados</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Jamilton Damasceno</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Renan</td>
                <td>10</td>
            </tr>
        </tbody>

    </table>


</body>
</html>