<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de Celulares</title>
</head>
<body>

    <h1>Lista Celulares</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>preço</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Iphone</td>
                <td>R$ 1.200,00</td>
            </tr>
            <tr>
                <td>Samsung</td>
                <td>R$ 3.200,00</td>
            </tr>
        </tbody>

    </table>


</body>
</html>