<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de produtos</title>
</head>
<body>

    <h1>Lista produtos</h1>
    <p>Nome: {{ nome }}</p>
    <p>Último acesso: {{ ultimo_acesso }}</p>

    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>preço</th>
            </tr>
        </thead>

        <tbody>

            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome|upper }}</td>
                    <td>R$ {{ produto.preco }}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>

    <p>Total Itens: {{ produtos|length }}</p>

    {% if idade < 12 %}
        <p>Criança</p>
    {% elif idade >= 12 and idade <= 18 %}
        <p>Adolescente</p>
    {% else %}
        <p>Adulto</p>
    {% endif %}

</body>
</html>